{% extends "home.html" %}
{% block location_form_home %}
<!--
    Home Page Location Form
    - NOT used for creating a user
    - NOT used for inserting a user or a location in a database
    - ONLY used for making a request to WeatherApi
-->
<form method="post" action="/home">
    {{ form.hidden_tag() }}
    <div class="fields">
    <!-- Latitude (optional) -->
        <div class="field">
            <!-- <textarea class="align-center" name="Location" id="fast-location" rows="4"></textarea> -->
            {{ form.latitude.label(for="home_lat") }}
            {% if form.latitude.errors %} 
                {{ form.latitude() }}
                <div>
                    {% for error in form.latitude.errors%}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
           {% else %}
               {{ form.latitude() }}
           {% endif %}
        </div>

    <!-- Latitude (optional) -->
        <div class="field">
            {{ form.longitude.label(for="home_long") }}
            {% if form.longitude.errors %} 
                {{ form.longitude() }}
                <div>
                    {% for error in form.longitude.errors%}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
        {% else %}
            {{ form.longitude() }}
        {% endif %}
        </div>

    <!-- City (required) -->
        <div class="field">
            {{ form.city.label(for="home_city") }}
            {% if form.city.errors %} 
                {{ form.city() }}
                <div>
                    {% for error in form.city.errors%}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
        {% else %}
            {{ form.city() }}
        {% endif %}
        </div>

    <!-- Zip (optional) -->
        <div class="field">
            {{ form.zip.label(for="home_zip") }}
            {% if form.zip.errors %} 
                {{ form.zip() }}
                <div>
                    {% for error in form.zip.errors%}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
        {% else %}
            {{ form.zip() }}
        {% endif %}
        </div>
    </div>

<!--  -->
    <ul class="actions special">
        <li><input type="submit" value="Enter" class="primary" /></li>
        <li><input type="reset" value="Reset" /></li>
    </ul>
</form>
{% endblock location_form_home %}